@page
@model PropertyManagement.Pages.Units.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.NumberofRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.NumberofRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.RentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.RentAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.DepositAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.DepositAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Furnished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Furnished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Laundry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Laundry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Property)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Property.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.UnitType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitType.Id)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].PreferredName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].TenancyStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Standing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].EmergencyContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].EmergencyContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].EmergencyContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].ParkingStall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].MailingAddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].MailingAddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tenant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenancyStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingStall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingAddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailingAddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Number)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Unit.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
