@page
@model PropertyManagement.Pages.Units.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.NumberofRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.NumberofRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.RentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.RentAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.DepositAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.DepositAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Furnished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Furnished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Laundry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Laundry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.Property)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Property.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit.UnitType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Unit.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
