@page
@model PropertyManagement.Pages.Tenants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.PreferredName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.PreferredName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.TenancyStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.TenancyStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Standing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Standing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.EmergencyContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.EmergencyContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.ParkingStall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.ParkingStall)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.MailingAddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.MailingAddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.MailingAddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.MailingAddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Unit.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tenant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
