@page
@model PropertyManagement.Pages.Tenants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].PreferredName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].EmergencyContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].EmergencyContactPhone)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tenant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Number)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
