@page
@model PropertyManagement.Pages.Tenants.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Tenants</h1>
<p>
    <a asp-page="Create">
         <i class="fa-solid fa-circle-plus xxx-large"></i>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].Unit)
            </th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tenant) {
        <tr class="tr-hoverable" onclick="location.href = '/Tenants/Details?id=@item.Id'">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Number)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square xx-large"></i></a>
                
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash xx-large"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
