@page
@model PropertyManagement.Pages.Properties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.TotalUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.TotalUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.TotalVacantUnits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.TotalVacantUnits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Parking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Parking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Pets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Pets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Smoking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Smoking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PropertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PropertyType.Id)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].NumberofRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].RentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].DepositAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Furnished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Laundry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].UnitType.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Unit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laundry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitType.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Property.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
