@page
@model PropertyManagement.Pages.Properties.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Properties</h1>

<p>
    <a asp-page="Create">
        <i class="fa-solid fa-circle-plus xxx-large"></i>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
             <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Vacant units
            </th>
            <th>
                Total units
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Property) {
    
        <tr class="tr-hoverable" onclick="location.href = '/Properties/Details?id=@item.Id'">
            <td>
                @Html.DisplayFor(modelItem => item.PropertyDescription)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)@if(!string.IsNullOrEmpty(item.AddressLine2)){<br/>}@Html.DisplayFor(modelItem => item.AddressLine2)<br/>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Province)<br />@Html.DisplayFor(modelItem => item.PostalCode) 
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TotalVacantUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalUnits)
            </td>
           
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square xx-large"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
